.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-logo {
    margin-left: 20px;
    margin-top: 20px;
}

.link-navbar {
    display: flex;
    gap: 57px;
    margin-right: 20px;
}